@model IEnumerable<dn_mvc_loc.Item>

@{
    ViewBag.Title = "Index";
}


<h3>
    <a class="btn btn-group btn-inverse" href="/Item/Create">
        Add Item
        <span class="glyphicon glyphicon-plus-sign large"></span>
    </a>
</h3>

@foreach (var item in Model)
{
    <blockquote contenteditable="false">

        <span class="label label-primary" contenteditable="true">@Html.DisplayFor(modelItem => item.Description)</span>

        <p> Full Description: @Html.DisplayFor(modelItem => item.Description)</p>
        
        <small>
            Condition:  @Html.DisplayFor(modelItem => item.Description)
        </small>
        <small>
            @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
        </small>

    </blockquote>
}
